@font-face {
  font-family: 'FontOne';
  src: url('../public/fonts/AmericanaStd.otf') format('opentype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontTwo';
  src: url('../public/fonts/Begild-MVeRx.otf') format('opentype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontThree';
  src: url('../public/fonts/HelenasignatureRegular-BWwy5.otf')
    format('opentype');

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FontOne', serif;
}
